@model oneHut.Models.BookingModel


<script type="text/javascript">
    function uploadFiles() {
        document.getElementById("postedFiles").click();
    }

function isFileSelected(e) {
    if (e.length > 0) {
        document.getElementById('fileMessage').style.display = "block";
        document.getElementById('fileMessage').innerText = "File(s) has been selected!";
        document.getElementById('erroMessage').style.display = "none";

    } else {
        document.getElementById('fileMessage').style.display = "none";
    }
}

function isNewBooking(e) {
    if (document.getElementById('erroMessage') != null) {
        document.getElementById('erroMessage').style.display = "none";
    }
    if (e.id == "newBookingClose") {
        document.getElementById('newBooking').style.display = "block";
        document.getElementById('newBookingClose').style.display = "none";
    } else {
        document.getElementById('newBooking').style.display = "none";
        document.getElementById('newBookingClose').style.display = "block";
    }
}
    
</script>
@{
    var newBookingStyle = "display-block";
    var newBookingStyleOpen = "display-none";
}
@if (!string.IsNullOrEmpty(Model.Message) || !string.IsNullOrEmpty(Model.Book._id))
{
    if (!Model.Message.ToLower().Contains("success")) {
    newBookingStyle = "display-none";
    newBookingStyleOpen = "display-block";
    }

}
<div style="width:100%; text-align: center;">
    <div class="row text-left grid-header cursor-pointer min-width-820px @newBookingStyle" id="newBookingClose" onclick="isNewBooking(this)">
        <table><tr>
            <td class="padding-left-0px">
<label class="cursor-pointer"><img src="~/Images/newBookPlus.png" class="width-25px"> New Booking
        <label class="color-grey cursor-pointer">(Click here)</label></label>
            </td>
            <td>
                <div>
    @if (!string.IsNullOrEmpty(Model.Message))
            {
                @if(Model.Message.ToLower().Contains("success"))
                {
                    <div id="erroMessage" class="bar success text-align-center font-size-large">
                        @Html.Label(Model.Message)</div>
                }

            }</div>
            </td>
        </tr>
        </table>
    </div>
    <div class="row @newBookingStyleOpen" id="newBooking">
        <form method="post" enctype="multipart/form-data" asp-controller="Booking" asp-action="Booking">
            <div style="width:100%; text-align: center;">
                <table>
                    <tr>
                        <td class="text-left grid-header padding-left-0px">
                            @if (!string.IsNullOrEmpty(Model.Book.GuestName)){
                            <label>@Model.Book.GuestName.Split(' ').FirstOrDefault()'s Booking</label>
                            }
                            else {
                                <div class="cursor-pointer" onclick="isNewBooking(this)">
                                <img src="~/Images/newBookMinus.png" class="width-25px">&nbsp;New Booking</div>
                            }
                        </td>
                        <td> @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                
                                @if (Model.Message.ToLower().Contains("error"))
                                {
                                    <div id="erroMessage" class="bar error text-align-center">@Html.Label(Model.Message)</div>
                                }

                            }
                            <div class="bar success text-align-center display-none" id="fileMessage"></div>
                        </td>
                        <td class="width-5">
                            <a href="/Booking/ClearBooking">
                                <img src="~/Images/Clean.jpg" class="width-60" title="Clear">
                            </a>
                        </td>
                        <td class="width-5">
                            @Html.TextBox("postedFiles",null, new{@type="file", @multiple="true",  @class ="text-align-right display-none", @onchange="isFileSelected(this.value)"})
                            <img onclick="uploadFiles();" src="~/Images/camera1.jpg" class="width-90 cursor-pointer"
                                title="Photo">
                        </td>
                        <td class="width-5">
                            <button type="submit" class="style-all-unset">
                                <img src="~/Images/book1.jpg" style="width:30px" title="Save">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:100%; text-align: center;">
                <table class="table table-bordered table-responsive">
                    <tr class="grid-background">
                        <th class="text-align-left">Guest Name</th>
                        <th class="text-align-left">Phone</th>
                        <th class="text-align-left">Check-In </th>
                        <th class="text-align-left">Check-Out</th>
                        <th class="text-align-left">Rooms</th>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(m=>m.Book._id,
                            new{@class="display-none"})@Html.TextBoxFor(m=>m.Book.GuestName,
                            new{@class="width-200px",@required = "required"} )</td>
                        <td>@Html.TextBoxFor(m=>m.Book.Phone, new{@class="width-120px", @required = "required" })</td>
                        <td>@if (String.IsNullOrEmpty(Model.Book._id))
                            {
                                @Html.TextBoxFor(m => m.Book.CheckIn, new {
                            @type="date", @class = "datepicker width-160px",@required = "required" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Book.CheckIn, new { @class = "width-160px", @required = "required" })
                            }</td>
                        <td>@if (String.IsNullOrEmpty(Model.Book._id))
                            {
                                @Html.TextBoxFor(m => m.Book.CheckOut, new {
                            @type="date", @class = "datepicker width-160px",@required = "required" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Book.CheckOut, new { @class = "width-160px",@required = "required"
                            })
                            }</td>
                        <td>@Html.TextBoxFor(m=>m.Book.Rooms,new{@class="width-70px", @required = "required" })</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="width-100">
                    <tr>
                        <td class="text-left grid-header padding-left-0px">
                            <label>Additional Infomation</label>
                        </td>
                        <td>
                            <div class="rate"> @Html.RadioButtonFor(model => model.Book.Rating, "5", new { @id =
                                "star5"}) <label for="star5" title="">5 stars</label> @Html.RadioButtonFor(model =>
                                model.Book.Rating, "4", new { @id = "star4"}) <label for="star4" title="">4
                                    stars</label> @Html.RadioButtonFor(model => model.Book.Rating, "3", new { @id =
                                "star3"}) <label for="star3" title="">3 stars</label> @Html.RadioButtonFor(model =>
                                model.Book.Rating, "2", new { @id = "star2"}) <label for="star2" title="">2
                                    stars</label> @Html.RadioButtonFor(model => model.Book.Rating, "1", new { @id =
                                "star1"}) <label for="star1" title="">1 star</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="width-100 text-left">
                            <table class="width-100">
                                <td>
                                    <tr>
                                        <td class="width-50">
                                            <table class="table table-bordered table-responsive">
                                                <tr>
                                                    <th class="text-align-left background-color-cornflowerblue">Bill
                                                        Amount</th>
                                                    <td>  @Html.TextBoxFor(m => m.Book.BillAmount, new {@class =
                                                        "text-align-right"}) </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-align-left background-color-cornflowerblue">Amount
                                                        Paid</th>
                                                    <td> @Html.TextBoxFor(m => m.Book.AmountPaid,  new{@class ="text-align-right"}) </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-align-left background-color-cornflowerblue">Payment
                                                        Status</th>
                                                    <td>
                                                        @{
                                                            var statusColor = "text-align-center";
                                                            if(Model.Book.PaymentStatus.ToLower().Equals("paid")){
                                                                statusColor = "text-align-center text-color-sucess";
                                                            }
                                                            if(Model.Book.PaymentStatus.ToLower().Contains("partial")){
                                                                statusColor = "text-align-center text-color-warn";
                                                            }
                                                            if(Model.Book.PaymentStatus.ToLower().Contains("unpaid")){
                                                                statusColor = "text-align-center text-color-error";
                                                            }
                                                            if(Model.Book.PaymentStatus.ToLower().Contains("excess")){
                                                                statusColor = "text-align-center text-color-blue";
                                                            }
                                                        }
                                                        @Html.TextBoxFor(m => m.Book.PaymentStatus,  new{@class = statusColor
                                                            , @readonly="readonly"}) 
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td class="padding-left-10px">
                                                        <div class="slideshow-container">
                                                            @if (Model.PostedFiles.Count > 0)
                                                            {
                                                                int i = 1;
                                                                @foreach (var imagelocation in Model.PostedFiles)
                                                                {
                                                                    <div class="mySlides" onclick="plusSlides(1)">
                                                                        <div class="numbertext"> @i.ToString() /
                                                                            @Model.PostedFiles.Count
                                                                        </div>
                                                                        <img src=@imagelocation height="130">
                                                                    </div>
                                                                    i += 1;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="mySlides">
                                                                    <img src="~/Images/No_image_available.png" style="width:100%" height="130">
                                                                </div>
                                                            }

                                                            
                                                        </div>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="padding-left-0px"> @Html.TextAreaFor(m => m.Book.AdditionalInfo, new
                                            {@class="text-area", @placeholder="Notes"}) </td>
                                    </tr>
                                </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>