@model oneHut.Models.BookingModel
<script type="text/javascript">
function changeSelect() {
        document.getElementById("nextPage").click();
}
</script>
<form action="/Booking/SearchBooking" method="post" name="FormBooking">   
<br>
<div style="width:100%; text-align: center;"> 
    <div style="width:100%; text-align: center;">
  
<table  class="width-99">
    <tr>
        <td class="text-left grid-header width-15"><label>Bookings</label></td>
        <td class="text-align-left">
            <table>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Guest, new { @class = "width-160px", @placeholder="Guest Name/Phone" })
                        @Html.TextBoxFor(m => m.CheckIn, "{0:d}", new { @type="date", @class = "datepicker width-120px" })
                        @Html.TextBoxFor(m => m.CheckOut, "{0:d}", new { @type="date", @class = "datepicker width-120px", @value="09/16/2022" }) 
                <button type="submit" class="style-all-unset width-40px" id="search">
                <img src="~/Images/Search.jpg" style="width:100%" title="Search Booking"></button>
                    </td>
                </tr>
            </table>
        </td>
        <td class="text-align-right">
            <a href="/Booking/TodayBooking" class="style-all-unset cursor-pointer">
            @if (Model.IsToday) { <i class="fa fa-check-square-o" style="font-size:24px"></i>}
            else {<i style="font-size:24px" class="fa">&#xf096;</i>} Today</a>
        </td>
        
    </tr>
</table>
</form>
<form action="/Booking/NextPageBooking" method="post" name="FormBooking"> 
    </div>
    <div style="width:100%; text-align: center;">
        
       <table class="table table-bordered table-responsive table-hover">  
    <tr class="grid-background">  
        <th>No.</th>  
        <th>Guest Name</th>  
        <th>Phone</th>  
        <th>Check-In</th>  
        <th>Check-Out</th>  
        <th>Rooms</th>  
        <th>Status</th>  
        <th>
            @if (Model.TotalPages > Model.TakeItem)
            {
                <label>Page&nbsp;</label>@:&nbsp;@Html.DropDownListFor(m => m.CurrentPage, new SelectList(Model.Pages), new {  onchange="changeSelect()"})
                <button type="submit" class="style-all-unset display-none" id="nextPage"></button>
            }
        </th>  

    </tr>  
    @foreach (var usr in Model.Bookings)  
    {  
        <tr>  
            <td>@usr.No</td>  
            <td class="text-align-left width-120px"><a href="/Booking/EditBooking?id=@usr._id.Trim()">@usr.GuestName</a></td>   
            <td><a href="tel:@usr.Phone">@usr.Phone</a></td>   
            <td>@usr.CheckIn</td>   
            <td>@usr.CheckOut</td>   
            <td class="text-align-center">@usr.Rooms</td> 
            @if (@usr.Status.Equals("Cancelled"))
            {
                <td class="font-color-red">@usr.Status</td> 
            } 
             @if (@usr.Status.Equals("Stayed"))
            {
                <td class="font-color-green">@usr.Status</td> 
            } 
             @if (@usr.Status.Equals("Booked")|| @usr.Status.Equals("CheckedIn"))
            {
                <td class="font-color-darkblue">@usr.Status</td> 
            }  
              
            <td>
            @if (@usr.Status.Equals("Booked"))
            {
                <div class="width-120px">

                <a href="/Booking/UpdateBooking?useraction=checkin&id=@usr._id.Trim()">
                <img src="~/Images/CheckinBlue2.jpg"  style="width:32%" title="Check in"></a>

                <img src="~/Images/CheckOutDisabled.jpg" style="width:28%" title="Check out">

                <a href="/Booking/UpdateBooking?useraction=cancel&id=@usr._id.Trim()">
                <img src="~/Images/Cancel.jpg" style="width:28%" title="Cancel Booking"></a>

                </div>
            }
            @if (@usr.Status.Equals("CheckedIn"))
            {
                <div class="width-120px">

                <img src="~/Images/CheckinDisabled.jpg"  style="width:32%" title="Check in">

                <a href="/Booking/UpdateBooking?useraction=checkout&id=@usr._id.Trim()">
                <img src="~/Images/CheckOutGreen1.jpg" style="width:28%" title="Check out"></a>
                
                <img src="~/Images/CancelDisabled.jpg" style="width:28%" title="Cancel Booking">

                </div>
            }
            @if (@usr.Status.Equals("Stayed"))
            {
            <div class="width-120px">

                <img src="~/Images/emailSqrare.jpg"  style="width:32%" title="Email">

                <img src="~/Images/print.png" style="width:28%" title="Print">

            </div>
            }
            </td>   
  
        </tr>  
    }   
</table>

</div>
    </div> 

</form>